<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 col-lg-6 mx-auto text-center">
      <div class="container">
        <h2>Tentang Contact App</h2>
        <p>
          Contact App adalah sebuah aplikasi yang dirancang untuk membantu Anda
          menyimpan dan mengelola kontak dengan mudah.
        </p>
        <div>
          <img
            src="./public/assets/profile.jpg"
            alt="profile"
            class="img-fluid rounded-circle shadow mt-3"
            width="200"
          />
        </div>
        <p class="fs-3 p-0 m-0 mt-3">Muhammad Subhan Ramdani</p>
        <p class="lead p-0 m-0">Fullstack Web Developer</p>
      </div>
    </div>
  </div>
</div>
